// Mixins Here

.button-style() {
    font-size: 1.6rem;
    text-align: center;
    color: white;
    padding: 7px 15px;
    width: 88px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
}